*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap'); */


@font-face{
    src: url('./DaysOne-Regular.ttf');
    font-family: 'Days One', sans-serif;
}

/* 
body{
    height: 100vh;
     display: flex;
    align-items: center;
    justify-content: center;
} */
/* .container{
    width: 80%;
    height: auto;
    background-color: red;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    margin: 20px;
    width: 280px;
    height: 300px;
    background-color: yellow;
}  */
/* 
.wrapper{
    width: 80%;
    height: 80vh;
    background-color: yellow;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 200px); */
    /* grid-gap: 15px; */
    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-template-columns: 2.5fr 2.5fr 2.5fr 2.5fr; */
/* }

.box{
    background-color: red;

} */



.container{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(173, 226, 228); */
    background-position: center;
    background-image: url(./bcimg.svg);
    /* background-repeat: no-repeat; */
}

.nav_bar{
    margin: auto;
    /* background-color: aqua; */
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logocon{
    width: 200px;
    height: 100%;
    color: #ffffff;
    display: flex;
    font-family: 'Days One', sans-serif;
    align-items: center;
    justify-content: space-between;
}

.collections{
    display: flex;
}
.collections li{
    margin: 0px 40px;
    list-style-type: none;
    font-size: 21px;
    font-family: 'Days One', sans-serif;
    color: #ffffff;
}

.nav_bar button{
    width: 113px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 15px 15px 35px 0px #E28E0F2E;
}

.center_items{
    position: absolute;
    top: 200px;
    left: 200px;
    width: 500px;
    height: 450px;
    
    /* background-color: lightyellow; */
}
.center_items h1{
    width: 472px;
    height: 206px;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Days One', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Montserrat:wght@900&display=swap');

.center_items p{
    width: 440px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Days One', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.btn_container{
    width: 400px;
    height: 80px;
    /* background-color: #FFC301; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 320px;
    left: -20px;
}

.btn{
    width: 155px;
    height: 48px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    background: linear-gradient(132.95deg, #FFC301 9.31%, #FF6533 79.4%);
}
.btn1{
    background-color: transparent;
    color: #ffffff;
    font-size: 17px;
    border: 2.5px solid #FF6533;
    width: 155px;
    height: 48px;
    border-radius: 10px;
}

.items_container{
    width: 90vw;
    margin: auto;
    height: 100vh;
    display: grid;
    margin-top: 500px;
    background-color: #FFC301;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 200px);
    grid-gap: 20px;
}

.box{
    background-color: red;
}




